---
title: "Kogukondlikud arutelud #kuidasmekestame"
page: home
---
- discussions = read_discussions(@items["/discussions.csv"])

%header#header
	%center
		%h1= item[:title]

%section#welcome.white-section
	%center
		%iframe(src="https://player.vimeo.com/video/296874043"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen)

		%p.paragraph
			<strong>Teadlased ennustavad Eestile lähemateks kümnenditeks rahvaarvu
			jätkuvat ja olulist kahanemist.</strong> Kahanev rahvaarv võib kujutada tõsist
			ohtu meie riigi harjumuspärasele toimimisele ning keele, kultuuri ja
			elukeskkonna säilimisele.

		%p.paragraph
			Kutsusime 2018. aasta sügisel kõiki osalema Eesti rahvastiku teemalises arutelus ning ideekorjes,
			et saaksid sündida kokkulepped ja lahendused, 
			mis on vajalikud elujõulise Eesti tagamiseks!

		%menu
			%a.blue-button(href="/algatusest/") Loe rohkem
			%a.green-button(href="/o-nas/") Подробнее
			%a.orange-button(href="/tulemused/") Tulemused

%section#join.grey-section
	%center
		%h2.subheading Algatuses osalejaid oli üle Eesti

		%ul
			%li.join-through
				%img(src="/assets/icon-calendar.svg")
				%h3.subsubheading Korralda arutelu oma kogukonnas
				%p.paragraph
					Toimus 32 kogukondlikku arutelu rahvastikutrendide mõtestamiseks ja 
					probleemidele lahenduste leidmiseks. 
				%a.blue-button(href="/korraldajale/") Korraldan

			%li.join-through
				%img(src="/assets/icon-faces.svg")
				%h3.subsubheading Osale arutelul
				%p.paragraph
					Aruteludel osales 300 inimest, kes pakkusid ideekorjesse 65 lahendusideed. 
				%a.white-button(href="/kalender/") Osalen

			%li.join-through
				%img(src="/assets/icon-laptop.svg")
				%h3.subsubheading Tee ettepanek veebis
				%p.paragraph
					Veebi kaudu esitati 6 täiendavat lahendusideed.  
				%a.blue-button(href="/tulemused/") Kirjutan

%section#counter.white-section
	%center
		%h2.subheading Hetkeks on...
		%ul
			- past = discussions.select(&:past?)
			- past_people = past.map(&:people_count).sum
			%li <em>#{format("%02d", past.size)}</em> arutelu korraldatud
			%li <em>#{format("%02d", past_people)}</em> inimest osalenud aruteludes

		%p
			%a.orange-button(href="/tulemused/") Tutvu tulemustega

%section.grey-section
	%center
		%h2.subheading Arutelude kaart

		%p.paragraph
			NB! Kui soovid osaleda arutelul, palun kirjuta konkreetse arutelu
			korraldajale. Sa näed tema andmeid, kui vajutad kaardil ikoonile.
			Kaarti saad suurendada (+), mis toob nähtavale rohkem arutelusid.

%section#map
	%center= render "/_map.haml", discussions: discussions
